@model MiaBoard.ViewModels.CreateUserViewModel
@{
    ViewBag.Title = "Register";
}
<style>
    body {
        background: #298eea;
    }
</style>
<!-- Register -->
<div class="container-fluid font-login">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
            <div class="panel panel-default" id="Register-Panel">
                <div class="panel-body text-center">
                    <h4 class="text-center" id="reg-in">@ViewBag.Title</h4>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.ValidationSummary(true)
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email *" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name *" })
                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.MidleName, new { @class = "form-control", placeholder = "Middle Name" })
                            @Html.ValidationMessageFor(m => m.MidleName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name *" })
                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group rb-class-inline">
                            @Html.RadioButtonFor(m => m.Gender, 1, new { @class = "active" }) Male
                            @Html.RadioButtonFor(m => m.Gender, 0) Female
                            <br />
                            @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.DateHired, new { @class = "form-control", type = "date" })
                            @Html.ValidationMessageFor(m => m.DateHired, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control", placeholder = "Contact Number" })
                            @Html.ValidationMessageFor(m => m.ContactNo, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password *" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>


                        <div class="form-group">
                            <input id="Registration-Btn" type="submit" class="btn btn-default btn-rounded waves-effect waves-light btn-block" value="Register" />
                        </div>
                    }
                </div>
            </div>
            <p id="Log-Account" class="center-block text-center">Back to 
            @Html.ActionLink("Login", "Login", "Account",
                new
                {
                    id = "Sign-up"
                }
            )
            </p>
        </div>
    </div>
</div>
<!-- End Register -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
