@model IEnumerable<MiaBoard.Models.Dashlet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dashboard.Title)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.DataSource.ConnectionString)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sql)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Styles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopSubLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomSubTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dashboard.Title)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.DataSource.ConnectionString)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sql)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Styles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopSubLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BottomSubTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
