@model MiaBoard.ViewModels.ViewDashboardViewModel

<style type="text/css">
    .boardContainer {
        width: 100%;
    }

    div.sortable {
        width: 100%;
    }

    div.flower {
        background-color: lightgreen;
    }

    .width-class {
        width: 100% !important;
    }
</style>
<script type="text/javascript">
    $(function () {
        var countJSDashlets = 0;
        var lastInsertedId = 0;
        var currentDashboard = $('#globalSettings #currentDashboard').attr('data-dashboard-id');
        function updateListDashlets() {
            var $parentOfColumns = $('#firstSortableColumn').parent().eq(0);
            $($parentOfColumns[0]).children().each(function (columnInRowIndex, columnInRow) {
                var $childrenOfPerent = $(columnInRow).children();
                $childrenOfPerent.each(function (columnIndex, columnItem) {
                    var dashletId = $(columnItem).attr('data-dashlet-id');
                    var dashletColumn = $(columnItem).parent().attr('data-id');
                    var dashletPosition = $(columnItem).index();
                    $.ajax({
                        type: 'POST',
                        url: '/api/dashlets/position/' + dashletId + '/' + dashletColumn + '/' + dashletPosition + '/' + currentDashboard,
                        success: function () {
                            console.log(true);
                        }
                    });
                });
            });
        }

        $('#dashletHtml').draggable({
            connectToSortable: '.boardWorkspaceContainer',
            helper: function (e) {
                var selectDataSources = $('#selectDataSources').clone();
                return $(
                    '<div id="newDashlet" data-dashlet-id="newDashlet" class="panel panel-primary text-center ui-sortable-handle">'
                    + '    <form class="form-horizontal">'
                    + '        <div class="form-group">'
                    + '            <label for="newDashletTitle" class="control-label col-xs-12 col-sm-3">Title: </label>'
                    + '            <div class="col-xs-12 col-sm-9">'
                    + '                <input type="text" class="form-control" id="newDashletTitle" placeholder="Title">'
                    + '            </div>'
                    + '        </div>'
                    + '        <div class="form-group">'
                    + '            <label for="newDashletTextType" class="control-label col-xs-12 col-sm-3">Text Type: </label>'
                    + '            <div class="col-xs-12 col-sm-9">'
                    + '                <input type="text" class="form-control" id="newDashletTextType" placeholder="Text Type">'
                    + '            </div>'
                    + '        </div>'
                    + '        <div class="form-group">'
                    + '            <label for="newDashletDataSourceId" class="control-label col-xs-12 col-sm-3">Text Type: </label>'
                    + '            <div class="col-xs-12 col-sm-9">'
                    +               '<select id="newDashletDataSourceId">'
                    +                       selectDataSources[0].innerHTML
                    +               '</select>'
                    + '            </div>'
                    + '        </div>'
                    + '        <div class="form-group">'
                    + '            <label for="newDashletStyles" class="control-label col-xs-12 col-sm-3">Styles: </label>'
                    + '            <div class="col-xs-12 col-sm-9">'
                    + '                <input type="text" class="form-control" id="newDashletStyles" placeholder="Styles(text-color:red;font-size:14px)">'
                    + '            </div>'
                    + '        </div>'
                    + '        <div class="form-group">'
                    + '            <label for="newDashletSQL" class="control-label col-xs-12 col-sm-3">SQL: </label>'
                    + '            <div class="col-xs-12 col-sm-9">'
                    + '                <input type="text" class="form-control" id="newDashletSQL" placeholder="SQL query">'
                    + '            </div>'
                    + '        </div>'
                    + '        <div class="form-group">'
                    + '            <label for="newDashletTopSubLevel" class="control-label col-xs-12 col-sm-3">Top Sub Level: </label>'
                    + '            <div class="col-xs-12 col-sm-9">'
                    + '                <input type="text" class="form-control" id="newDashletTopSubLevel" placeholder="Top Sub Level">'
                    + '            </div>'
                    + '        </div>'
                    + '        <div class="form-group">'
                    + '            <label for="newDashletBottomSubTitle" class="control-label col-xs-12 col-sm-3">Bottom Sub Title: </label>'
                    + '            <div class="col-xs-12 col-sm-9">'
                    + '                <input type="text" class="form-control" id="newDashletTextColor" placeholder="Bottom Sub Title">'
                    + '            </div>'
                    + '        </div>'
                    + '        <div class="form-group">'
                    + '            <label for="newDashletPosition" class="control-label col-xs-12 col-sm-3">Position: </label>'
                    + '            <div class="col-xs-12 col-sm-9">'
                    + '                <input type="text" class="form-control" id="newDashletPosition" placeholder="Position">'
                    + '            </div>'
                    + '        </div>'
                    + '        <div class="form-group">'
                    + '            <label for="newDashletColumn" class="control-label col-xs-12 col-sm-3">Column: </label>'
                    + '            <div class="col-xs-12 col-sm-9">'
                    + '                <input type="text" class="form-control" id="newDashletColumn" placeholder="Column">'
                    + '            </div>'
                    + '        </div>'
                    + '        <button onclick="createDashlet()" type="button" class="btn btn-default">Submit</button>'
                    + '    </form>'
                    + ' </div>'
                    );
            }
        });

        $('#dashletChart').draggable({
            connectToSortable: '.boardWorkspaceContainer',
            helper: "clone"
        });

        $('.boardWorkspaceContainer').sortable();

        $('.col-Container').sortable({
            connectWith: '.col-Container',
            placeholder: 'emptySpace',
            update: function (event, ui) {
                if ($(ui.item[0]).attr('id') == 'newDashlet') {
                    $.ajax({
                        type: 'GET',
                        url: '/api/dashlets/lastid',
                        success: function (data) {
                            $('#lastDashletId').attr('data-dashlet-last-id', data);
                            $('#countJSDashlets').attr('data-dashlets-js-count', ($('#countJSDashlets').attr('data-dashlets-js-count') == 0) ? 1 : parseInt($('#countJSDashlets').attr('data-dashlets-js-count')) + 1);
                            var inrtementedId = parseInt($('#lastDashletId').attr('data-dashlet-last-id')) + parseInt($('#countJSDashlets').attr('data-dashlets-js-count'));
                            $('#newDashlet').attr('data-dashlet-id', inrtementedId);
                            $('#newDashlet').attr('id', 'dashlet_' + inrtementedId);
                        }
                    });
                } else {
                    updateListDashlets();
                }
            }
        });
    });
</script>
<style>
    .tile-box {
        line-height: inherit;
        display: block;
        position: relative;
        height: auto;
        padding: 0;
        border-width: 1px;
        border-style: solid;
        color: #fff;
        background: rgb(87, 67, 255);
        border-color: black;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .tile-box-shortcut .bs-badge {
        left: auto;
        right: 10px;
        top: 10px;
        background: rgba(0,0,0,.5);
    }

    .bs-badge.badge-absolute {
        position: absolute;
        z-index: 5;
    }

    .badge, .bs-badge {
        font-size: 11px;
        font-weight: 700;
        line-height: 19px;
        display: inline-block;
        min-width: 20px;
        height: 20px;
        padding: 0 4px 0 5px;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
        color: #fff;
        border-radius: 10px;
    }

    .tile-box-shortcut .tile-header {
        background: 0 0;
        padding: 0;
        position: absolute;
        right: 10px;
        bottom: 6px;
        font-size: 13px;
        font-weight: 400;
    }

    .tile-box-shortcut .tile-content-wrapper {
        padding: 0;
        min-height: 80px;
    }

    .tile-content-wrapper {
        position: relative;
        overflow: hidden;
        padding: 10px;
    }

    .tile-box-shortcut .tile-content-wrapper > .glyph-icon {
        position: absolute;
        left: 15px;
        top: 46px;
    }

    .tile-content-wrapper > .glyph-icon {
        font-size: 35px;
        line-height: 70px;
        position: absolute;
        top: 50%;
        left: 15px;
        height: 70px;
        margin-top: -36px;
        opacity: .3;
        -moz-opacity: .3;
        filter: alpha(opacity:30);
    }

    .glyph-icon {
        text-align: center;
    }

    .icon-settings {
        right: 194px;
        top: 5px;
        z-index: 5;
        display: inline-flex;
    }

    .new-ic-padding {
        padding: 10px;
    }

    .btn-danger.active, .btn-danger:active, .open > .dropdown-toggle.btn-danger,
    .btn-danger.active, .btn-danger:active, .open > .dropdown-toggle.btn-danger,
    .open > .dropdown-toggle.btn-danger.focus, .open > .dropdown-toggle.btn-danger:focus, .open > .dropdown-toggle.btn-danger:hover,
    .btn-danger.focus, .btn-danger:focus,
    .btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open > .dropdown-toggle.btn-danger.focus, .open > .dropdown-toggle.btn-danger:focus, .open > .dropdown-toggle.btn-danger:hover {
        color: #fff;
        background-color: #202bc9;
        border-color: black;
    }

    .btn-danger:hover {
        color: #fff;
        background-color: #202bc9;
        border-color: black;
    }

    .emptySpace {
        border: medium dotted red;
        height: 193px;
        margin: 4px;
    }
</style>

<style>
    /*yura styles*/
    .own-board-style {
        border-radius: 4px;
        -moz-border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        background-clip: padding-box;
        opacity: 0.97;
    }

    .own-board-title {
        display: inline-block;
        font-weight: bold;
    }

    .own-board-btn {
        text-align: right;
        margin-top: -40px;
    }

    .ui-sortable-handle {
        border: 1px solid black;
    }

    .container-fluid .bhoechie-tab .bhoechie-tab-content {
        padding-left: 0;
    }

    .label-toggle-style {
        margin: 0;
        padding: 0;
    }
</style>
@* newDashlet styles *@
<style type="text/css">
    #newDashlet {
        display: block;
        border: 1px solid black;
        z-index: 1000;
        position: absolute;
    }
</style>
<div id="globalSettings" style="display: none">
    <div id="currentDashboard" data-dashboard-id="@Model.Dashboard.Id"></div>
    <div id="lastDashletId" data-dashlet-last-id="0"></div>
    <div id="countJSDashlets" data-dashlets-js-count="0"></div>
    <div id="listDataSources">
        <select id="selectDataSources">
            @foreach(var ds in Model.DataSources){
                <option value="@ds.Id">@ds.ConnectionString</option>
            }
        </select>
    </div>
</div>

<!-- Navigation Left-->
<div class="container-fluid left-menu-padding">
    <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 bhoechie-tab-container new-bhoechine-tab">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab">
            <!-- flight section -->
            <div class="bhoechie-tab-content active">
                <ul class="nav nav-pills nav-stacked user-menu-list">
                    @foreach (var item in Model.DashboardList)
                    {
                        <li>
                            <a class="alert alert-success text-center" href="/dashboards/view/@item.Id">
                                <i class="fa fa-tachometer fa-fw"></i>
                                @item.Title
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <!-- train section -->
        </div>
    </div>
    <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12  new-bhoechine-tab-main">
        <div class="panel panel-info own-board-style">
            <div class="panel-heading ">
                <div class="text-center">
                    <h4 class="own-board-title">@Model.Dashboard.Title</h4>
                </div>
                <div class="own-board-btn">
                    <button type="button" class="btn btn-info text-right">Data Source</button>
                    <button type="button" class="btn btn-info">Security</button>
                </div>
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div id="dashletHtml" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-danger sortable ui-draggable ">
                                <span class="bs-badge badge-absolute">1</span>
                                <div class="icon-settings">
                                    <i class="fa fa-cog new-ic-padding" aria-hidden="true" data-toggle="collapse" data-target="#demo"></i>
                                    <i class="fa fa-arrow-circle-down new-ic-padding" aria-hidden="true"></i>
                                    <i class="fa fa-times new-ic-padding" aria-hidden="true"></i>
                                </div>
                                <div class="tile-header">HTML Dashlet</div>
                                <div class="tile-content-wrapper">
                                    <i class="glyph-icon icon-file-photo-o fa fa-tachometer"></i>
                                </div>

                                <div id="demo" class="collapse" style="background:red;">
                                    <div>Set HTML Options</div>
                                    <label>First Name</label>
                                    <input class="span3" placeholder="Your First Name" type="text">
                                    <label>Last Name</label>
                                    <input class="span3" placeholder="Your Last Name" type="text">
                                    <label>Email Address</label>
                                    <input class="span3" placeholder="Your email address" type="text"> <label>Subject</label>
                                    <select class="span3" id="subject" name="subject">
                                        <option selected value="na">
                                            Choose One:
                                        </option>

                                        <option value="service">
                                            General Customer Service
                                        </option>

                                        <option value="suggestions">
                                            Suggestions
                                        </option>

                                        <option value="product">
                                            Product Support
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div id="dashletChart" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-danger sortable  ui-draggable">
                                <span class="bs-badge badge-absolute">2</span>
                                <div class="icon-settings">
                                    <i class="fa fa-cog new-ic-padding" aria-hidden="true"></i>
                                    <i class="fa fa-arrow-circle-down new-ic-padding" aria-hidden="true"></i>
                                    <i class="fa fa-times new-ic-padding" aria-hidden="true"></i>
                                </div>
                                <div class="tile-header">Chart Dashlet</div>
                                <div class="tile-content-wrapper">
                                    <i class="glyph-icon icon-file-photo-o fa fa-bar-chart"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid sortContainer ui-sortable">
            <div class="row">
                <div id="firstSortableColumn" data-id="1" class="sortContainer ui-sortable col-sm-4 boardWorkspaceContainer col-Container">
                    @{
                        foreach (var dashlet in Model.DashletsFirstCol)
                        {
                            <div id="dashlet_@dashlet.Id" class="panel panel-primary text-center" data-dashlet-id="@dashlet.Id" style="@dashlet.Styles">
                                <div class="panel-heading">@dashlet.Title</div>
                                <div class="panel-body">@dashlet.TextType</div>
                                <div class="panel-body">@Model.DashletsSqlResult[dashlet.Id]</div>
                                <div class="panel-body">@dashlet.BottomSubTitle</div>

                                <div class="icon-settings">
                                    <i class="fa fa-cog new-ic-padding" aria-hidden="true" data-toggle="collapse" data-target="#edit_dashlet_@dashlet.Id"></i>
                                    <i class="fa fa-arrow-circle-down new-ic-padding" aria-hidden="true"></i>
                                    <i class="fa fa-times new-ic-padding" aria-hidden="true"></i>
                                </div>
                                <div id="edit_dashlet_@dashlet.Id" class="collapse" style="background: red; height: auto;">
                                    @*@Html.Partial("_DashletEdit", new { id = @dashlet.Id });*@

                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-horizontal">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.Dashlet.Id)

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Dashlet.Title, htmlAttributes: new { @class = "control-label col-md-2 label-toggle-style" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Dashlet.Title, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Dashlet.Title, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Dashlet.TextType, htmlAttributes: new { @class = "control-label col-md-2 label-toggle-style" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Dashlet.TextType, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Dashlet.TextType, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            @*
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Dashlet.DashboardId, "Dashboard Connect", htmlAttributes: new { @class = "control-label col-md-2 label-toggle-style" })
                                                    <div class="col-md-10">
                                                        @Html.DropDownList("DashboardId", null, htmlAttributes: new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Dashlet.DashboardId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            *@
                                            @*
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Dashlet.DataSourceId, "DataSourceId", htmlAttributes: new { @class = "control-label col-md-2 label-toggle-style" })
                                                    <div class="col-md-10">
                                                        @Html.DropDownList("DataSourceId", null, htmlAttributes: new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Dashlet.DataSourceId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            *@
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Dashlet.Sql, htmlAttributes: new { @class = "control-label col-md-2 label-toggle-style" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Dashlet.Sql, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Dashlet.Sql, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Dashlet.Styles, htmlAttributes: new { @class = "control-label col-md-2 label-toggle-style" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Dashlet.Styles, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Dashlet.Styles, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Dashlet.TopSubLevel, htmlAttributes: new { @class = "control-label col-md-2 label-toggle-style" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Dashlet.TopSubLevel, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Dashlet.TopSubLevel, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Dashlet.BottomSubTitle, htmlAttributes: new { @class = "control-label col-md-2 label-toggle-style" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Dashlet.BottomSubTitle, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Dashlet.BottomSubTitle, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Save" class="btn btn-default" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
                <div id="secondSortableColumn" data-id="2" class="sortContainer ui-sortable col-sm-4 boardWorkspaceContainer col-Container">
                    @{
                        foreach (var dashlet in Model.DashletsSecondCol)
                        {
                            <div id="dashlet_@dashlet.Id" class="panel panel-primary text-center" data-dashlet-id="@dashlet.Id" style="@dashlet.Styles">
                                <div class="panel-heading">@dashlet.Title</div>
                                <div class="panel-body">@dashlet.TextType</div>
                                <div class="panel-body">@Model.DashletsSqlResult[dashlet.Id]</div>
                                <div class="panel-body">@dashlet.BottomSubTitle</div>
                            </div>
                        }
                    }
                </div>
                <div id="thirdSortableColumn" data-id="3" class="sortContainer ui-sortable col-sm-4 boardWorkspaceContainer col-Container">
                    @{
                        foreach (var dashlet in Model.DashletsThirdCol)
                        {
                            <div id="dashlet_@dashlet.Id" class="panel panel-primary text-center" data-dashlet-id="@dashlet.Id" style="@dashlet.Styles">
                                <div class="panel-heading">@dashlet.Title</div>
                                <div class="panel-body">@dashlet.TextType</div>
                                <div class="panel-body">@Model.DashletsSqlResult[dashlet.Id]</div>
                                <div class="panel-body">@dashlet.BottomSubTitle</div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}