@model MiaBoard.ViewModels.ViewDashboardViewModel

<script type="text/javascript">
    function deleteDashlet(event) {
        var choice = confirm("Do you really want to remove this dashlet?");
        if (choice) {
            var dashletIdToDelete = $($(event.target).parent().parent()[0]).attr('data-dashlet-id');
            $.ajax({
                type: 'DELETE',
                url: '/api/dashlets/' + dashletIdToDelete,
                success: function (data) {
                    $('#dashlet_'+data.id).remove();
                }
            });
        }
    }
    function updateDashletViaBurger(event) {
        var $formDashletUpdate = $(event.target).parent().parent().parent();

        var _id = $formDashletUpdate.parent().attr('data-dashlet-id');
        var dashletForEditWithId = '#dashletForEdit_' + _id;
        var _title = $formDashletUpdate.find(dashletForEditWithId + '-Title').val();
        var _textType = $formDashletUpdate.find(dashletForEditWithId + '-TextType').val();
        var _styles = $formDashletUpdate.find(dashletForEditWithId + '-Styles').val();
        var _dataSourceId = $formDashletUpdate.find(dashletForEditWithId + '-DataSourceId').val();
        var _sql = $formDashletUpdate.find(dashletForEditWithId + '-Sql').val();
        var _topSubLevel = $formDashletUpdate.find(dashletForEditWithId + '-TopSubLevel').val();
        var _bottomSubTitle = $formDashletUpdate.find(dashletForEditWithId + '-BottomSubTitle').val();
        var _column = $formDashletUpdate.find(dashletForEditWithId + '-Column').val();
        var _position = $formDashletUpdate.find(dashletForEditWithId + '-Position').val();

        $.ajax({
            type: 'PUT',
            url: '/api/dashlets/' + _id,
            data: {
                Title: _title,
                TextType: _textType,
                Styles: _styles,
                DataSourceId: _dataSourceId,
                SQL: _sql,
                TopSubLevel: _topSubLevel,
                BottomSubTitle: _bottomSubTitle,
                Column: _column,
                Position: _position
            },
            success: function (data) {
                if (data.id != "") {
                    var $dashletThatUpdatedHtml = $('#dashlet_' + data.id);
                    var helperChngDshlVls = 'div#dashletField_' + data.id;

                    $dashletThatUpdatedHtml.attr('style', data.styles);
                    $dashletThatUpdatedHtml.find(helperChngDshlVls + '-Title').html(data.title);
                    $dashletThatUpdatedHtml.find(helperChngDshlVls + '-TextType').html(data.textType);
                    $dashletThatUpdatedHtml.find(helperChngDshlVls + '-BottomSubTitle').html(data.bottomSubTitle);

                    $('i[data-target="#dashletForEdit_' + data.id + '"]').click();
                } else {
                    console.log('ERROR: Empty Dashlet!');
                }

            }
        });
    }
    $(function () {
        var countJSDashlets = 0;
        var lastInsertedId = 0;
        var currentDashboard = $('#globalSettings #currentDashboard').attr('data-dashboard-id');
        function updateListDashlets() {
            var $parentOfColumns = $('#firstSortableColumn').parent().eq(0);
            $($parentOfColumns[0]).children().each(function (columnInRowIndex, columnInRow) {
                var $childrenOfPerent = $(columnInRow).children();
                $childrenOfPerent.each(function (columnIndex, columnItem) {
                    var dashletId = $(columnItem).attr('data-dashlet-id');
                    var dashletColumn = $(columnItem).parent().attr('data-id');
                    var dashletPosition = $(columnItem).index();
                    $.ajax({
                        type: 'POST',
                        url: '/api/dashlets/position/' + dashletId + '/' + dashletColumn + '/' + dashletPosition + '/' + currentDashboard,
                        success: function () {
                            console.log(true);
                        }
                    });
                });
            });
        }

        $('#dashletHtml').draggable({
            connectToSortable: '.boardWorkspaceContainer',
            helper: function (e) {
                var selectDataSources = $('#selectDataSources').clone();
                return $(
                    '<div id="newDashlet" data-dashlet-id="newDashlet" class="panel panel-primary text-center ui-sortable-handle width-class">'
                    + '    <form class="form-horizontal">'
                    + '        <div class="form-group">'
                    + '            <label for="newDashletTitle" class="control-label col-xs-12 col-sm-3">Title: </label>'
                    + '            <div class="col-xs-12 col-sm-9">'
                    + '                <input type="text" class="form-control" id="newDashletTitle" placeholder="Title">'
                    + '            </div>'
                    + '        </div>'
                    + '        <div class="form-group">'
                    + '            <label for="newDashletTextType" class="control-label col-xs-12 col-sm-3">Text Type: </label>'
                    + '            <div class="col-xs-12 col-sm-9">'
                    + '                <input type="text" class="form-control" id="newDashletTextType" placeholder="Text Type">'
                    + '            </div>'
                    + '        </div>'
                    + '        <div class="form-group">'
                    + '            <label for="newDashletDataSourceId" class="control-label col-xs-12 col-sm-3">Text Type: </label>'
                    + '            <div class="col-xs-12 col-sm-9">'
                    + '<select id="newDashletDataSourceId" class="form-control">'
                    + selectDataSources[0].innerHTML
                    + '</select>'
                    + '            </div>'
                    + '        </div>'
                    + '        <div class="form-group">'
                    + '            <label for="newDashletStyles" class="control-label col-xs-12 col-sm-3">Styles: </label>'
                    + '            <div class="col-xs-12 col-sm-9">'
                    + '                <input type="text" class="form-control" id="newDashletStyles" placeholder="Styles(text-color:red;font-size:14px)">'
                    + '            </div>'
                    + '        </div>'
                    + '        <div class="form-group">'
                    + '            <label for="newDashletSQL" class="control-label col-xs-12 col-sm-3">SQL: </label>'
                    + '            <div class="col-xs-12 col-sm-9">'
                    + '                <input type="text" class="form-control" id="newDashletSQL" placeholder="SQL query">'
                    + '            </div>'
                    + '        </div>'
                    + '        <div class="form-group">'
                    + '            <label for="newDashletTopSubLevel" class="control-label col-xs-12 col-sm-3">Top Sub Level: </label>'
                    + '            <div class="col-xs-12 col-sm-9">'
                    + '                <input type="text" class="form-control" id="newDashletTopSubLevel" placeholder="Top Sub Level">'
                    + '            </div>'
                    + '        </div>'
                    + '        <div class="form-group">'
                    + '            <label for="newDashletBottomSubTitle" class="control-label col-xs-12 col-sm-3">Bottom Sub Title: </label>'
                    + '            <div class="col-xs-12 col-sm-9">'
                    + '                <input type="text" class="form-control" id="newDashletTextColor" placeholder="Bottom Sub Title">'
                    + '            </div>'
                    + '        </div>'
                    + '        <div class="form-group">'
                    + '            <label for="newDashletPosition" class="control-label col-xs-12 col-sm-3">Position: </label>'
                    + '            <div class="col-xs-12 col-sm-9">'
                    + '                <input type="text" class="form-control" id="newDashletPosition" placeholder="Position">'
                    + '            </div>'
                    + '        </div>'
                    + '        <div class="form-group">'
                    + '            <label for="newDashletColumn" class="control-label col-xs-12 col-sm-3">Column: </label>'
                    + '            <div class="col-xs-12 col-sm-9">'
                    + '                <input type="text" class="form-control" id="newDashletColumn" placeholder="Column">'
                    + '            </div>'
                    + '        </div>'
                    + '        <button onclick="createDashlet()" type="button" class="btn btn-default">Submit</button>'
                    + '    </form>'
                    + ' </div>'
                    );
            }
        });

        $('#dashletChart').draggable({
            connectToSortable: '.boardWorkspaceContainer',
            helper: function(){ return $('<div>disabled</div>');}
        });

        $('.boardWorkspaceContainer').sortable();

        $('.col-Container').sortable({
            connectWith: '.col-Container',
            placeholder: 'emptySpace',
            update: function (event, ui) {
                if ($(ui.item[0]).attr('id') == 'newDashlet') {
                    $.ajax({
                        type: 'GET',
                        url: '/api/dashlets/lastid',
                        success: function (data) {
                            $('#lastDashletId').attr('data-dashlet-last-id', data);
                            $('#countJSDashlets').attr('data-dashlets-js-count', ($('#countJSDashlets').attr('data-dashlets-js-count') == 0) ? 1 : parseInt($('#countJSDashlets').attr('data-dashlets-js-count')) + 1);
                            var inrtementedId = parseInt($('#lastDashletId').attr('data-dashlet-last-id')) + parseInt($('#countJSDashlets').attr('data-dashlets-js-count'));
                            $('#newDashlet').attr('data-dashlet-id', inrtementedId);
                            $('#newDashlet').attr('id', 'dashlet_' + inrtementedId);
                        }
                    });
                } else {
                    updateListDashlets();
                }
            }
        });
    });
</script>
<div id="globalSettings" style="display: none">
    <div id="currentDashboard" data-dashboard-id="@Model.Dashboard.Id"></div>
    <div id="lastDashletId" data-dashlet-last-id="0"></div>
    <div id="countJSDashlets" data-dashlets-js-count="0"></div>
    <div id="listDataSources">
        <select id="selectDataSources">
            @foreach (var ds in Model.DataSources)
            {
            <option value="@ds.Id">@ds.ConnectionString</option>
            }
        </select>
    </div>
</div>
    <div class="container-fluid left-menu-padding">
    <!-- Navigation Left-->
    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 bhoechie-tab-container new-bhoechine-tab menu-border-mobile">
        <div class="col-lg-4 col-md-3 col-sm-4 col-xs-4 bhoechie-tab-menu">
            <div class="list-group">
                <a href="#" class="list-group-item active text-center">
                    <div class="icon-main"><i class="fa fa-globe" aria-hidden="true"></i></div>
                    <br />Company List
                </a>
                <a href="#" class="list-group-item text-center">
                    <div class="icon-main"><i class="fa fa-tachometer" aria-hidden="true"></i></div>
                    <br />Dashboard List
                </a>
            </div>
        </div>
        <div class="col-lg-8 col-md-9 col-sm-8 col-xs-8 bhoechie-tab menu-padding-item white-super">
            <!-- flight section -->
            <div class="bhoechie-tab-content active">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#"><i class="fa fa-users fa-fw"></i>User Groups</a></li>
                    <li><a href="#"><i class="fa fa-user fa-fw"></i>User List</a></li>
                    <li><a href="#"><i class="fa fa-clipboard fa-fw"></i>Dashboard List</a></li>
                    <li><a href="/DataSources/Index"><i class="fa fa-database fa-fw"></i>Datasource List</a></li>
                </ul>
            </div>
            <!-- train section -->
            <div class="bhoechie-tab-content">
                <ul class="nav nav-pills nav-stacked user-menu-list">
                    @foreach (var item in Model.DashboardList)
                    {
                        <li>
                            @{ if (item.Id == Model.Dashboard.Id)
                                {
                                    <a class="selected-dashboard-super" href="/dashboards/view/@item.Id">
                                        <i class="fa fa-tachometer fa-fw"></i>
                                        @item.Title
                                    </a>
                                }
                                else
                                {
                                    <a href="/dashboards/view/@item.Id">
                                        <i class="fa fa-tachometer fa-fw"></i>
                                        @item.Title
                                    </a>
                                }
                            }
                        </li>
                                }
                </ul>
            </div>
        </div>
    </div>
    <!-- End Navigation Left-->
    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12  new-bhoechine-tab-main">
        <div class="panel panel-info own-board-style">
            <div class="panel-heading ">
                <div class="text-center">
                    <h4 class="own-board-title">@Model.Dashboard.Title</h4>
                </div>
                <div class="own-board-btn">
                    <a class="btn btn-info text-right" href="/DataSources/Index">Data Source</a>
                    <button type="button" class="btn btn-info">Security</button>
                </div>
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div id="dashletHtml" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-danger sortable ui-draggable ">
                                <span class="bs-badge badge-absolute">1</span>
                                <div class="icon-settings">
                                    <i class="fa fa-cog new-ic-padding" aria-hidden="true" data-toggle="collapse" data-target="#demo"></i>
                                    <i class="fa fa-arrow-circle-down new-ic-padding" aria-hidden="true"></i>
                                    <i class="fa fa-times new-ic-padding" aria-hidden="true"></i>
                                </div>
                                <div class="tile-header">HTML Dashlet</div>
                                <div class="tile-content-wrapper">
                                    <i class="glyph-icon icon-file-photo-o fa fa-tachometer"></i>
                                </div>

                                <div id="demo" class="collapse">
                                    <button class="btn btn-info" style="margin:4px">Create Dashlet</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div id="dashletChart" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-danger sortable  ui-draggable">
                                <span class="bs-badge badge-absolute">2</span>
                                <div class="icon-settings">
                                    <i class="fa fa-cog new-ic-padding" aria-hidden="true"></i>
                                    <i class="fa fa-arrow-circle-down new-ic-padding" aria-hidden="true"></i>
                                    <i class="fa fa-times new-ic-padding" aria-hidden="true"></i>
                                </div>
                                <div class="tile-header">Chart Dashlet</div>
                                <div class="tile-content-wrapper">
                                    <i class="glyph-icon icon-file-photo-o fa fa-bar-chart"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container-fluid sortContainer ui-sortable">
            <div class="row">
                <div id="firstSortableColumn" data-id="1" class="sortContainer ui-sortable col-sm-4 boardWorkspaceContainer col-Container">
                    @{
                        foreach (var dashlet in Model.DashletsFirstCol)
                        {
                            <div id="dashlet_@dashlet.Id" class="panel panel-primary text-center" data-dashlet-id="@dashlet.Id" style="@dashlet.Styles">
                                <div id="dashletField_@dashlet.Id-Title" class="panel-heading">@dashlet.Title</div>
                                <div id="dashletField_@dashlet.Id-TextType" class="panel-body">@dashlet.TextType</div>
                                <div class="panel-body">@*@Model.DashletsSqlResult[dashlet.Id]*@</div>
                                <div id="dashletField_@dashlet.Id-BottomSubTitle" class="panel-body">@dashlet.BottomSubTitle</div>
                                <div class="icon-settings">
                                    <i class="fa fa-cog new-ic-padding" aria-hidden="true" data-toggle="collapse" data-target="#dashletForEdit_@dashlet.Id"></i>
                                    <i class="fa fa-arrow-circle-down new-ic-padding" aria-hidden="true"></i>
                                    <i class="fa fa-times new-ic-padding" aria-hidden="true" onclick="deleteDashlet(event)"></i>
                                </div>
                                <div id="dashletForEdit_@dashlet.Id" data-dashlet-id="@dashlet.Id" class="collapse container" style="background: white; color:black;">
                                    <form action="/" method="post" class=" text-left form-horizontal col-xs-12">
                                        <div class="form-group">
                                            <label for="dashletForEdit_@dashlet.Id-Title">Title: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-Title" placeholder="Title" value="@dashlet.Title" />
                                        </div>
                                        <div class="form-group">
                                            <label for="dashletForEdit_@dashlet.Id-TextType">TextType: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-TextType" placeholder="TextType" value="@dashlet.TextType" />
                                        </div>
                                        <div class="form-group">
                                            <label for="dashletForEdit_@dashlet.Id-Title">DataSource: </label>
                                            <select class="form-control" id="dashletForEdit_@dashlet.Id-DataSourceId">
                                                @foreach (var ds in Model.DataSources)
                                                {
                                                    <option value="@ds.Id">@ds.ConnectionString</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="dashletForEdit_@dashlet.Id-Sql">Sql: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-Sql" placeholder="Sql" value="@dashlet.Sql" />
                                        </div>
                                        <div class="form-group">
                                            <label for="dashletForEdit_@dashlet.Id-Styles">Styles: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-Styles" placeholder="Styles" value="@dashlet.Styles" />
                                        </div>
                                        <div class="form-group">
                                            <label for="dashletForEdit_@dashlet.Id-TopSubLevel">TopSubLevel: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-TopSubLevel" placeholder="TopSubLevel" value="@dashlet.TopSubLevel" />
                                        </div>
                                        <div class="form-group">
                                            <label for="dashletForEdit_@dashlet.Id-BottomSubTitle">BottomSubTitle: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-BottomSubTitle" placeholder="BottomSubTitle" value="@dashlet.BottomSubTitle" />
                                        </div>
                                        <div class="form-group">
                                            <label for="dashletForEdit_@dashlet.Id-Position">Position: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-Position" placeholder="Position" value="@dashlet.Position" />
                                        </div>
                                        <div class="form-group">
                                            <label for="dashletForEdit_@dashlet.Id-Column">Column: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-Column" placeholder="Column" value="@dashlet.Column" />
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-12 col-sm-8">
                                                <button type="button" class="btn btn-default" onclick="updateDashletViaBurger(event)">Change</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div id="secondSortableColumn" data-id="2" class="sortContainer ui-sortable col-sm-4 boardWorkspaceContainer col-Container">
                    @{
                        foreach (var dashlet in Model.DashletsSecondCol)
                        {
                            <div id="dashlet_@dashlet.Id" class="panel panel-primary text-center" data-dashlet-id="@dashlet.Id" style="@dashlet.Styles">
                                <div id="dashletField_@dashlet.Id-Title" class="panel-heading">@dashlet.Title</div>
                                <div id="dashletField_@dashlet.Id-TextType" class="panel-body">@dashlet.TextType</div>
                                <div class="panel-body">@*@Model.DashletsSqlResult[dashlet.Id]*@</div>
                                <div id="dashletField_@dashlet.Id-BottomSubTitle" class="panel-body">@dashlet.BottomSubTitle</div>
                                <div class="icon-settings">
                                    <i class="fa fa-cog new-ic-padding" aria-hidden="true" data-toggle="collapse" data-target="#dashletForEdit_@dashlet.Id"></i>
                                    <i class="fa fa-arrow-circle-down new-ic-padding" aria-hidden="true"></i>
                                    <i class="fa fa-times new-ic-padding" aria-hidden="true" onclick="deleteDashlet(event)"></i>
                                </div>
                                <div id="dashletForEdit_@dashlet.Id" data-dashlet-id="@dashlet.Id" class="collapse container" style="background: white; color:black;">
                                    <form action="/" method="post" class=" text-left form-horizontal col-xs-12">
                                        <div class=" form-group">
                                            <label for="dashletForEdit_@dashlet.Id-Title">Title: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-Title" placeholder="Title" value="@dashlet.Title" />
                                        </div>
                                        <div class=" form-group">
                                            <label for="dashletForEdit_@dashlet.Id-TextType">TextType: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-TextType" placeholder="TextType" value="@dashlet.TextType" />
                                        </div>
                                        <div class=" form-group">
                                            <label for="dashletForEdit_@dashlet.Id-Title">DataSource: </label>
                                            <select class="form-control" id="dashletForEdit_@dashlet.Id-DataSourceId">
                                                @foreach (var ds in Model.DataSources)
                                                {
                                                    <option value="@ds.Id">@ds.ConnectionString</option>
                                                }
                                            </select>
                                        </div>
                                        <div class=" form-group">
                                            <label for="dashletForEdit_@dashlet.Id-Sql">Sql: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-Sql" placeholder="Sql" value="@dashlet.Sql" />
                                        </div>
                                        <div class=" form-group">
                                            <label for="dashletForEdit_@dashlet.Id-Styles">Styles: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-Styles" placeholder="Styles" value="@dashlet.Styles" />
                                        </div>
                                        <div class=" form-group">
                                            <label for="dashletForEdit_@dashlet.Id-TopSubLevel">TopSubLevel: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-TopSubLevel" placeholder="TopSubLevel" value="@dashlet.TopSubLevel" />
                                        </div>
                                        <div class=" form-group">
                                            <label for="dashletForEdit_@dashlet.Id-BottomSubTitle">BottomSubTitle: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-BottomSubTitle" placeholder="BottomSubTitle" value="@dashlet.BottomSubTitle" />
                                        </div>
                                        <div class=" form-group">
                                            <label for="dashletForEdit_@dashlet.Id-Position">Position: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-Position" placeholder="Position" value="@dashlet.Position" />
                                        </div>
                                        <div class=" form-group">
                                            <label for="dashletForEdit_@dashlet.Id-Column">Column: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-Column" placeholder="Column" value="@dashlet.Column" />
                                        </div>
                                        <div class=" form-group">
                                            <div class="col-xs-12 col-sm-8">
                                                <button type="button" class="btn btn-default" onclick="updateDashletViaBurger(event)">Change</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div id="thirdSortableColumn" data-id="3" class="sortContainer ui-sortable col-sm-4 boardWorkspaceContainer col-Container">
                    @{
                        foreach (var dashlet in Model.DashletsThirdCol)
                        {
                            <div id="dashlet_@dashlet.Id" class="panel panel-primary text-center" data-dashlet-id="@dashlet.Id" style="@dashlet.Styles">
                                <div id="dashletField_@dashlet.Id-Title" class="panel-heading">@dashlet.Title</div>
                                <div id="dashletField_@dashlet.Id-TextType" class="panel-body">@dashlet.TextType</div>
                                <div class="panel-body">@*@Model.DashletsSqlResult[dashlet.Id]*@</div>
                                <div id="dashletField_@dashlet.Id-BottomSubTitle" class="panel-body">@dashlet.BottomSubTitle</div>
                                <div class="icon-settings">
                                    <i class="fa fa-cog new-ic-padding" aria-hidden="true" data-toggle="collapse" data-target="#dashletForEdit_@dashlet.Id"></i>
                                    <i class="fa fa-arrow-circle-down new-ic-padding" aria-hidden="true"></i>
                                    <i class="fa fa-times new-ic-padding" aria-hidden="true" onclick="deleteDashlet(event)"></i>
                                </div>
                                <div id="dashletForEdit_@dashlet.Id" data-dashlet-id="@dashlet.Id" class="collapse container" style="background: white; color:black;">
                                    <form action="/" method="post" class=" text-left form-horizontal col-xs-12">
                                        <div class=" form-group">
                                            <label for="dashletForEdit_@dashlet.Id-Title">Title: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-Title" placeholder="Title" value="@dashlet.Title" />
                                        </div>
                                        <div class=" form-group">
                                            <label for="dashletForEdit_@dashlet.Id-TextType">TextType: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-TextType" placeholder="TextType" value="@dashlet.TextType" />
                                        </div>
                                        <div class=" form-group">
                                            <label for="dashletForEdit_@dashlet.Id-Title">DataSource: </label>
                                            <select class="form-control" id="dashletForEdit_@dashlet.Id-DataSourceId">
                                                @foreach (var ds in Model.DataSources)
                                                {
                                                    <option value="@ds.Id">@ds.ConnectionString</option>
                                                }
                                            </select>
                                        </div>
                                        <div class=" form-group">
                                            <label for="dashletForEdit_@dashlet.Id-Sql">Sql: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-Sql" placeholder="Sql" value="@dashlet.Sql" />
                                        </div>
                                        <div class=" form-group">
                                            <label for="dashletForEdit_@dashlet.Id-Styles">Styles: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-Styles" placeholder="Styles" value="@dashlet.Styles" />
                                        </div>
                                        <div class=" form-group">
                                            <label for="dashletForEdit_@dashlet.Id-TopSubLevel">TopSubLevel: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-TopSubLevel" placeholder="TopSubLevel" value="@dashlet.TopSubLevel" />
                                        </div>
                                        <div class=" form-group">
                                            <label for="dashletForEdit_@dashlet.Id-BottomSubTitle">BottomSubTitle: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-BottomSubTitle" placeholder="BottomSubTitle" value="@dashlet.BottomSubTitle" />
                                        </div>
                                        <div class=" form-group">
                                            <label for="dashletForEdit_@dashlet.Id-Position">Position: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-Position" placeholder="Position" value="@dashlet.Position" />
                                        </div>
                                        <div class=" form-group">
                                            <label for="dashletForEdit_@dashlet.Id-Column">Column: </label>
                                            <input type="text" class="form-control" id="dashletForEdit_@dashlet.Id-Column" placeholder="Column" value="@dashlet.Column" />
                                        </div>
                                        <div class=" form-group">
                                            <div class="col-xs-12 col-sm-8">
                                                <button type="button" class="btn btn-default" onclick="updateDashletViaBurger(event)">Change</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    /******************/
    /* Navigation Left*/
    /******************/

    $(document).ready(function () {
        $("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
            e.preventDefault();
            $(this).siblings('a.active').removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
            $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
        });
    });

    /**********************/
    /* End Navigation Left*/
    /**********************/
</script>

    @Scripts.Render("~/bundles/jqueryval")
}