@*@using Microsoft.AspNet.Identity*@
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" id="navbar-right">
            <li id="online-user">
                <div class="name-user">
                    <!--I will write Helper findUserForRole for redirect depend role-->
                    @Html.UserToRole(User.Identity.Name)
                    @*@Html.ActionLink(User.Identity.Name, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                    <!--(End) I will write Helper findUserForRole for redirect depend role-->
                </div>
                <a href="@Url.Action("LogOut", "Account")" style="display: inline-block;" id="Logout-Btn">LogOut</a>
            </li>
        </ul>

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn-flat nav-bar-Login-text" })</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary waves-effect waves-light btn-flat-two" })</li>

    </ul>
}
