@model MiaBoard.ViewModels.AddUserToDashboardViewModel
@{
    ViewBag.Title = "AddUserToDashboard";
}

<h2>Add User To Dashboard</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>AddUserToPostViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserIdSected, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.UserIdSected, new SelectList(Model.ListUsers, "Id", "Name", Model.UserIdSected))
                @Html.ValidationMessageFor(model => model.UserIdSected, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DashboardIdSected, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DashboardIdSected, new SelectList(Model.ListDashboards, "Id", "Name", Model.DashboardIdSected))
                @Html.ValidationMessageFor(model => model.DashboardIdSected, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>